<% @job.each do |job| %>
	<% if job.category == 'Customer Support' %>
</br>
</br>
	<div class ="booyah-box col-xs-8 col-xs-offset-2">
		<ul class = "listings">
			<li><%=image_tag job.logo %></li>
			<li><%= job.company %></li>
			<li><%=link_to job.title, job_path(job) %></li>
			<li><%= job.category %></li>
			<li><% if job.application.present? %>
						<%= link_to "http://#{job.application}", :class => "button btn btn-primary" do %>
				  		Apply Here!
				  	<% end %>
					<% else %>
					<% end %>
				<br />
				<br />
				
				  
				<% if job.created_at > Time.now.beginning_of_day %>
		    		<span>Posted <%="#{time_ago_in_words(job.created_at)} ago"%></span>
				<% else %>
		   	 		<span>Posted <%= job.created_at.strftime("%b %d, %Y") %></span>
				<% end %>
			</li>
		</ul>
		</div>
	<% end %>
<% end %>