
<div class="main">
	<br />
	<div class = "text-box col-xs-10 col-xs-offset-1 text-center">
		<h1>Welcome to Pajamawork!</h1>
		<br/>
		<h1>Here you can find the best remote jobs in town!</h1>
		<br />
		<h2>Or the best jobs anywhere really...</h2>
	</div>
</div>

<% @job.each do |job| %>
		<div class ="booyah-box col-xs-6 col-xs-offset-3">
			<div class = "col-xs-4 company"><%= job.company %></div>
			<div class = "col-xs-4 title"><%=link_to job.title, job_path(job) %></div>
			<div class = "col-xs-2 category"><%= job.category %></div>
			<div class = "col-xs-2 application"><% if job.application.present? %>
						<button><%= link_to "Apply Here!", "http://#{job.application}", :target => "_blank" %></button>
					<% else %>
					<% end %>
			<ul class= "list-unstyled">
				<% if job.created_at > Time.now.beginning_of_day %>
		    		<li class="text-right">Posted <%="#{time_ago_in_words(job.created_at)} ago"%> </li>
				<% else %>
		   	 		<li class="text-right">Posted <%= job.created_at.strftime("%b %d, %Y") %></li>
				<% end %>
			</ul>
			</div>
		</div>
<% end %>

