<div class="main">
	<br />
	<div class = "text-box col-xs-10 col-xs-offset-1 text-center">
		<h1>Welcome to Pajamawork!</h1>
		<br/>
		<h1>Here you can find the best remote jobs in town!</h1>
		<br />
		<h2>Or the best jobs anywhere really...</h2>
	</div>
</div>

<% @job.each do |job| %>
	<div class ="booyah-box col-xs-10-col-xs-offset-1 text-center">
		<h1><%=link_to job.title, job_path(job) %></h1>
		<i><%= job.company %></i>
		<p><%= job.description %></p>
		<i><%= job.category %></i>
			<% if job.facebook.present? %>
				<p><%= link_to job.facebook, "http://#{job.facebook}" %></p>
			<% else %>
			<% end %>
			<% if job.twitter.present? %>
				<p><%= link_to job.twitter, "http://#{job.twitter}" %></a></p>
			<% else %>
			<% end %>
			<% if job.application.present? %>
				<p><%= link_to job.application, "http://#{job.application}" %></a></p>
			<% else %>
			<% end %>
		<%= image_tag job.logo %>
	</div>

<% end %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Post a job
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter the details of your job listing here!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= bootstrap_form_for Job.new do |f| %>
      <div class="modal-body">
      	<div class="container-fluid">
		  <form>
		  			<%= f.text_field :company, label: 'Company name' %>
					<%= f.text_field :title, label: 'Job Title' %>
					<%= f.text_area :description, rows: '5', label: 'Write the details of the job posting here.' %>
					<%= f.select :category, [['Programming'], ['Design'], ['Customer Support'], ['Sales/Account Management'], ['Marketing'], ['Other']], label: 'Job Category' %>
					<%= f.text_area :facebook, label:'Facebook link to your Company', placeholder: 'A URL is not necessary' %>
					<%= f.text_area :twitter, label:'Twitter link to your Company', placeholder: 'A URL is not necessary' %>
					<%= f.text_area :application, label:'Where can applicants apply?', placeholder: 'www.pajamawork.com' %>
					<%= f.file_field :logo, label: 'Upload your logo' %>
					<small id="fileHelp" class="form-text text-muted">Upload a file of your logo. This will be placed on the job description page.</small>
					<hr />
					<%= f.submit 'Post', class: 'btn btn-primary' %>
				<% end %>
			  </div>
			</form>
		</div>	
      </div>
    </div>
  </div>
</div>