<% @job.each do |job| %>
	<% if job.category == 'Other' %>
	<div class ="booyah-box col-xs-10 col-xs-offset-1 text-center">
		<h1><%=link_to job.title, job_path(job) %></h1>
		<i><%= job.company %></i>
		<p><%= job.description %></p>
		<i><%= job.category %></i>
			<% if job.facebook.present? %>
				<p><%= link_to job.facebook, "http://#{job.facebook}" %></p>
			<% else %>
			<% end %>
			<% if job.twitter.present? %>
				<p><%= link_to job.twitter, "http://#{job.twitter}" %></a></p>
			<% else %>
			<% end %>
			<% if job.application.present? %>
				<p><%= link_to job.application, "http://#{job.application}" %></a></p>
			<% else %>
			<% end %>
		<%= image_tag job.logo %>
		<% if job.created_at > Time.now.beginning_of_day %>
    		<%="#{time_ago_in_words(job.created_at)} ago"%> 
		<% else %>
   	 		<%= job.created_at.strftime("%b %d, %Y") %> 
		<% end %>
	</div>
	<% end %>
<% end %>