<% @job.each do |job| %>
	<% if job.category == 'Programming' %>
<div class ="booyah-box col-xs-8 col-xs-offset-2">
			<div class = "col-xs-2 logo"><span><%=image_tag job.logo %></span></div>
			<div class = "col-xs-3 company"><span><%= job.company %></span></div>
			<div class = "col-xs-4 title"><span><%=link_to job.title, job_path(job) %></span></div>
			<div class = "col-xs-2 category"><span><%= job.category %></span></div>
			<div class = "col-xs-1 application"><% if job.application.present? %>
						<%= link_to "http://#{job.application}", :class => "button btn btn-primary" do %>
				  		Apply Here!
				  	<% end %>
					<% else %>
					<% end %>
				<br />
				<br />
				
				  <span class="button-right"></span>
				
				<% if job.created_at > Time.now.beginning_of_day %>
		    		<span>Posted <%="#{time_ago_in_words(job.created_at)} ago"%></span>
				<% else %>
		   	 		<span>Posted <%= job.created_at.strftime("%b %d, %Y") %></span>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>