<!DOCTYPE html>
<html>
<head>
  <title>Pajamawork</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" <%= link_to'Pajamawork', root_path %>></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          
            <li><%= link_to 'Programming Jobs', programming_jobs_path %></li>
            <li><%= link_to 'Design Jobs', design_jobs_path %></li>
            <li><%= link_to 'Customer Support Jobs', customer_support_jobs_path %></li>
            <li><%= link_to 'Sales/Account Management Jobs', sales_account_management_jobs_path %></li>
            <li><%= link_to 'Marketing Jobs', marketing_jobs_path %></li>
            <li><%= link_to 'All Other Jobs', other_jobs_path %></li>
      </ul>

             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Post a job for Free!
         </button>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter the details of your job listing here!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= bootstrap_form_for Job.new do |f| %>

      <div class="modal-body">
        <div class="container-fluid">
      <form>
            <%= f.text_field :company, label: 'Company name' %>
          <%= f.text_field :title, label: 'Job Title' %>
            <label>Write the details of the job posting here. Use the text editor to format your listing.</label>
       <br />
          <%= f.trix_editor :description %>
          </trix-editor>
          <%= f.select :category, [['Programming'], ['Design'], ['Customer Support'], ['Sales/Account Management'], ['Marketing'], ['Other']], label: 'Job Category' %>
          <%= f.text_area :facebook, label:'Facebook link to your Company', placeholder: 'A URL is not necessary. DO NOT TYPE IN WWW or HTTPS://. For example, instead put "pajamawork.com"' %>
          <%= f.text_area :twitter, label:'Twitter link to your Company', placeholder: 'A URL is not necessary. DO NOT TYPE IN WWW or HTTPS://. For example, instead put "pajamawork.com"' %>
          <%= f.text_area :application, label:'Where can applicants apply?', placeholder: 'DO NOT TYPE IN WWW or HTTPS://. For example, instead put "pajamawork.com"' %>
          <%= f.file_field :logo, label: 'Upload your logo' %>
          <small id="fileHelp" class="form-text text-muted">Upload a file of your logo. This will be placed on the job description page. ALL logos will be resized to 100px by 100px.</small>
          <hr />
          <%= f.submit 'Post', class: 'btn btn-primary' %>
          
        <% end %>
        </div>
      </form>


        </div>  
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
