<!DOCTYPE html>
<html>
<head>
  <title>Pajamawork</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" <%= link_to'Pajamawork', root_path %>></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><%= link_to 'Programming Jobs', programming_jobs_path %></li>
        <li><%= link_to 'Design Jobs', design_jobs_path %></li>
        <li><%= link_to 'Customer Support Jobs', customer_support_jobs_path %></li>
        <li><%= link_to 'Sales/Account Management Jobs', sales_account_management_jobs_path %></li>
        <li><%= link_to 'Marketing Jobs', marketing_jobs_path %></li>
        <li><%= link_to 'All Other Jobs', other_jobs_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Post a job2
        </button>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter the details of your job listing here!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= bootstrap_form_for Job.new do |f| %>
      <div class="modal-body">
        <div class="container-fluid">
      <form>
            <%= f.text_field :company, label: 'Company name' %>
          <%= f.text_field :title, label: 'Job Title' %>
          <%= f.text_area :description, rows: '5', label: 'Write the details of the job posting here.' %>
          <%= f.select :category, [['Programming'], ['Design'], ['Customer Support'], ['Sales/Account Management'], ['Marketing'], ['Other']], label: 'Job Category' %>
          <%= f.text_area :facebook, label:'Facebook link to your Company', placeholder: 'A URL is not necessary' %>
          <%= f.text_area :twitter, label:'Twitter link to your Company', placeholder: 'A URL is not necessary' %>
          <%= f.text_area :application, label:'Where can applicants apply?', placeholder: 'www.pajamawork.com' %>
          <%= f.file_field :logo, label: 'Upload your logo' %>
          <small id="fileHelp" class="form-text text-muted">Upload a file of your logo. This will be placed on the job description page.</small>
          <hr />
          <%= f.submit 'Post', class: 'btn btn-primary' %>
        <% end %>
        </div>
      </form>


        </div>  
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
